{{template "base" .}}
{{define "title"}}Login{{end}}
{{define "main"}}
<div class="create white">
<form action='/user/login' method='POST' novalidate>
    {{with .Form}}
        {{with .Errors.Get "generic"}}
        <div class='error'>{{.}}</div>
        {{end}}
        <div>
            <label>Email:</label>
            <input type='email' name='email' value='{{.Get "email"}}'>
        </div>
        <div>
            <label>Password:</label>
            <input type='password' name='password'>
        </div>
        <div>
           <button type="submit" class="button-lg bg-indigo indigo-lightest fw-300 fs-s3 br-l-0">Login</button>
        </div>
    {{end}}
</form>
</div>
{{end}}